html,
body {
  height: 100%;
}

img {
  border-radius: 50% !important;
}

.contact hr {
  border-bottom: 3px solid #adff2f;
}

.contactName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 1vw;
}

.contact:hover {
  cursor: pointer;
}

.contact-col {
  background: black;
  overflow-y: scroll;
}

.contact-col hr {
  border-bottom: 3px solid #adff2f;
}

.contacts{
  font-family: Verdana;
  text-align: center;
  color: #fff;
  font-size: 1.5vw;
  padding: 15px 0 15px 0;
  border-bottom: 2px solid #adff2f;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #adff2f; 
}

.contact {
  margin-top: 15px;
}

.ChatSection header {
  font-family: Verdana;
  font-size: 2vw;
  padding: 10px;
  font-style: oblique;
  border-bottom: 3px solid #adff2f;
  color: #fff;
}

input {
  border-style: none;
  background: transparent;
  outline: none;
  width: 95%;
  color: #fff;
  font-size: 2vw !important;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  opacity: 0.5;
  width: 5%;
}

button:hover{
  opacity: 1;
}

body {
   background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26); 
}

.TypeMsg {
  width: 100%;
  border-bottom: solid 2px #adff2f;
}

.ChatSpace{
  width: 100%;
  height: 80%;
}

.contactName{
  display: inline;
  margin-left: 30px;
}

.messageSent{
  background: #adff2f;
  padding: 10px;
  border-radius: 5px 5px 0 5px;
  color: black;
  float: right;
  margin-top: 10px;
  max-width: 40%;
  overflow-wrap: break-word;
  font-size: 2vw;
}
.messageReceived{
  background: #adff2f;
  padding: 10px;
  border-radius: 5px 5px 5px 0;
  color: black;
  float: left;
  margin-top: 50px;
  max-width: 40%;
  overflow-wrap: break-word;
  font-size: 2vw;
}

@media screen and (min-width: 1024px) {
  .messageReceived, .messageSent, input {
     font-size: 20px !important;
  }
}
